body {
    font-family: helvetica, arial, sans-serif;
}

h1, h2, h3 {
    font-style: bold;
    margin: 0.3em 0em 0.3em 0em;
    padding: 0em;
}
h1 {
    font-size: 150%;
    
}
h2 {
    font-size: 130%;
    padding-top: 1em;
}
h3 {
    font-size: 110%;
    font-style: italic;
}

hr {
    clear: both;
}

table {
	border: 1px solid lightgray;
	border-collapse: collapse;
	margin-bottom: 1em;
}

table th,
table td {
	border: 1px solid lightgray;
	border-collapse: collapse;
}

table td {
	/*font-size: 95%;*/
	padding: 2px;
}

table th {
	font-weight: bold;
	background-color: #eee;
	padding-right: 21px;
}

table tr.even td {
      background-color: #fbfbfb;
}

tr.even td.highScore,
tr.even td.highPBI,
td.highScore,
td.highPBI {
	background-color: #99CC00;
}

tr.even td.lowScore,
tr.even td.lowPBI,
td.lowScore,
td.lowPBI{
	background-color: #FF6600;
}

div {
    margin: 0px;
    padding: 0px;
}

.inline {
    display: inline;
    float: left;
    margin-right: 2em;
}

.clear {
    clear: both;
}

/* tablesorter */
table.rankings thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.rankings thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.rankings thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.rankings thead tr .headerSortDown,
table.rankings thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/* pairing details */
table#pairingdata {
    clear: both;
}
div#lrp {
    margin-left: 45%;
    margin-bottom: 1.5em;
}
table#ratingdetails {
    width: 40%;
    float: left;
}